{% extends 'fontEn.html.twig' %}

{% block content %}

    <div class="container" style="padding-left: calc(12% + 0px);
    padding-right: calc(12% + 0px);line-height: 150%">
        <h2>Who are we</h2>
        <br>
        <p>If you are looking to buy menswear wholesale, in Chisnbal you have all kinds of garments. We are exclusive manufacturers of national clothes men fashion.</p>
        <p>In Chisnbal we anticipate seasonal trends and adapt to today's lifestyle,
           being suppliers and manufacturers wholesale clothing at the best price. comfortable designs, quality,
           for both men and women, with a taste for fashion and personality.</p>
        <img src="{{ asset('bundles/chisnbal/img/quiensomos.jpg') }}" style="float:left; width:50%; padding-right: 20px; padding-top: 20px; padding-bottom: 20px">
        <br>
        <p>For over 10 years we offer each season several annual fashion collections for men and women wholesale,
           high quality and very competitive prices for wholesalers, professional and trendy shops.</p>
        <p>Our collection of wholesale clothing dress men, modern and cosmopolitan with a personality that show
           in your closet and everyday wardrobe, from the most stylish shirts, blouses or polo shirts to the most mundane, such as sportswear,
           track suits or shirts with original styles and custom what makes us leaders clothing wholesalers in Spain.</p>
        <p>
            We are suppliers of fashion wholesale trusted, professional and overall experience.
            Meet our extensive catalog of wholesale menswear, taking advantage of our special discounts on wholesale fashion.
        </p>
        <br><br>
        <p>Our design process offers better quality, so we work faster and more competitive prices.
            We have a team of designers that transmit own collections market demands,
            so we respond to 100% of your purchase wholesale. Our collections are presented by themes and categories,
            completing the full range of garments that customers require us, what makes us number 1 within companies and manufacturers wholesale in Spain.
            The high quality standards that characterize us make us chosen as one of the leading wholesalers of clothing throughout the peninsula. And you, do you want to know?</p>
    </div>



{% endblock %}
