{% extends 'font.html.twig' %}

{% block content %}
    <div class="site-inner" style="margin-bottom: 50px">
        <div style="height: auto;" class="view-container">
            <img src="{{ asset('bundles/chisnbal/img/1.jpg') }}"/>
        </div>
    </div>
{% endblock %}
