{% extends 'font.html.twig' %}

{% block content %}

    <div class="container" style="padding-left: calc(12% + 0px);
    padding-right: calc(12% + 0px);">
        <h2>Quién Somos</h2>
        <br>
        <p>Si buscas comprar ropa de hombre al por mayor, en Chisnbal tienes todo tipo de prendas. Somos fabricantes exclusivos de ropa nacional en moda hombre.</p>
        <p>En Chisnbal nos adelantamos a las tendencias de temporada y las adaptamos al estilo de vida actual, siendo proveedores y fabricantes de ropa al por mayor al mejor precio. Diseños cómodos, de calidad, tanto para hombres como para mujeres, con gusto por la moda y con personalidad propia.</p>

        <img src="{{ asset('bundles/chisnbal/img/quiensomos.jpg') }}" style="float:left; width:50%; padding-right: 20px; padding-top: 20px; padding-bottom: 20px">
        <br>
        <p>Desde hace más de 10 años ofrecemos cada temporada varias colecciones anuales de moda de hombre y mujer al por mayor, de máxima calidad y a precios muy ajustados para mayoristas, profesionales y tiendas de moda.</p>
        <p>Nuestra colecciones de ropa al por mayor visten a hombres, modernos y cosmopolitas con una personalidad que demuestran en su armario y vestuario diario, desde las más elegantes camisas, blusas o polos a los más cotidianos, como prendas deportivas, chandals o camisetas, con estilos originales y personalizados lo que nos hace ser líderes mayoristas de ropa en España.</p>
        <p>
            Somos proveedores de moda al por mayor de confianza, profesionales y con total experiencia. Conoce nuestro amplio catálogo de venta mayorista de ropa de hombre, aprovechándote de nuestros descuentos especiales en moda al por mayor.
        </p>
        <br><br>
        <p>Nuestro proceso de diseño ofrece una mejor calidad, por ello, trabajamos con más rapidez y precios más competitivos. Contamos con un equipo de diseñadores propios que transmiten a las colecciones las exigencias del mercado, por lo que responderemos al 100% en tu compra al por mayor. Nuestras colecciones se presentan por temas y categorías, completando todo el abanico de prendas que los clientes nos exigen, lo que nos hace ser el número 1 dentro de las empresas y fabricantes al por mayor en España. Los altos estándares de calidad que nos caracterizan hacen que seamos elegidos como uno de los principales mayoristas de ropa de toda la Península. Y tú, ¿quieres conocernos?</p>
    </div>



{% endblock %}
